.learn-btn, .courses-btn{
    border-radius: 100px !important;
}
.learn-btn:hover{
    background: linear-gradient(to right, #2562ba 0%, #00aeff 100%);
    cursor: pointer;
}
.blog p{
    text-align: left !important;
    color: #666666;
    font-size: 14px;
}
.blog h3{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}
.signup-text{
    font-size: 1.3rem !important;
}
.title::after{
    content: ' ';
    background: #000457;
    height: 1px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.course-btn {
    border-radius: 80px !important;
}
ul {
    list-style: none;
}
.module-no {
    background: #e90917;
    font-size: 18px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 4px;
    padding: 5px 5px;
    min-width: 94px;
    text-align: center;
    margin-right: 20px;
}
#accordion btn {
    text-decoration: none !important;
    outline: none !important;
    
}